.logInAuth{
  position: absolute;
  left: 27%;  
  margin-top: 80px;
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 100px;
}
.googleBtn{
    width: 500px;
    height: 40px;
    background: #0080ff;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
.orHeading{
    color: crimson;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 35px;
}
.orHeadingOne{
    color: crimson;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
form {
    text-align: center;
}
form input[type="text" i] {
    padding: 10px 10px;
    margin: 10px 0;
    width: 350px;
    border-radius: 10px;
    border: 1px solid lightgray;
}
form input[type="password" i] {
    -webkit-text-security: disc !important;
    padding: 10px 10px;
    margin: 10px 0;
    width: 350px;
    border-radius: 10px;
    border: 1px solid lightgray;
}
form label {
    text-align: center;
}