.twin-container{
    display: flex;
}
.form-container{
    width: 30%;
    margin-left: 100px;
    margin-top: 80px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #00FFFF, #0080ff);
    padding: 10px;
    border-radius: 10px;
}
.form-container input[type="text"]{
    padding: 20px 100px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
}
.form-container label{
    color: white;
    font-size: 20px;
}
.location-container img{
    margin-top: 80px;
    margin-left: 100px;
    height: 400px;
    overflow: hidden;
}